:root {
  --elephant: #2d3840;
  --oslo-grey: #465050;
  --twilight-blue: #f4f6f0;
  --parchment: #d6cdaa;
  --aqua-haze: #dadfd3;
  --whiskey-sour: #df9052;

  --midnight-express: #182130;
  --black-russian: #151a27;
  --c-link-active: #4e30d6;

  --h-header: 64px;
  --fs-header: 1.8rem;
  --fs-primary: 1.4rem;
  --fs-secondary: 1.2rem;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 800px) {
    font-size: 56.25%;
  }
}

body {
  color: white;
  font-family: "Roboto", serif;
}

.app {
  height: 100vh;
  background: var(--midnight-express);
}
