.header {
  background-color: var(--black-russian);
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  font-size: var(--fs-header);
  padding: 10px;

  &__search {
    margin: 0 2rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 2rem;

    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;

    transform: scale(0.95);
    transition: transform 0.2s;

    &:focus {
      transform: scale(1);
    }
  }

  &__icon {
    font-size: 4rem;
  }

  &__icon:hover + &__input {
    // TODO: simple animation
  }
}

.icon-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: var(--fs-header);

  transition: transform 0.2s;
  padding: 10px;

  &:active {
    transform: scale(1.2);
  }
}

.sidebar {
  // margin: 1rem 0;
  font-size: var(--fs-primary);

  &__list {
    list-style: none;

    @media (max-width: $bp-medium) {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__list-item {
    @media (max-width: $bp-medium) {
      flex: 1;
      text-align: center;
    }
  }

  &__link,
  &__link:visited {
    display: block;
    padding: 1rem 2rem;
    cursor: pointer;

    text-decoration: none;
    color: inherit;

    &:hover {
    }

    &.active {
      background-color: var(--c-link-active);
    }
  }
}

.navbar {
  font-size: var(--fs-primary);

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__link {
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;

    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--c-link-hover);
    }

    &.active {
      background-color: var(--c-link-active);
    }
  }
}

.card {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.movie {
  color: white;
  font-weight: 400;
  width: var(--w-movie);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.07);
  }

  &__details {
    margin: 1.5rem 0;
  }

  &__title {
    font-size: var(--fs-primary);
    font-weight: inherit;
    text-transform: uppercase;
  }

  &__year {
    font-size: var(--fs-secondary);
    font-weight: inherit;
  }

  &__image {
    width: var(--w-movie);
  }
}
