.header {
  &__search {
    flex: 1;
    display: flex;
    margin: 0 2rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    margin: 0 2rem;

    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;

    transform: scale(0.99);
    transition: transform 0.2s;

    &:focus {
      transform: scale(1);
    }
  }

  &__icon {
    font-size: 4rem;
  }
}

.icon-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: var(--fs-header);

  transition: transform 0.2s;
  padding: 10px;

  &:active {
    transform: scale(1.2);
  }
}

.sidebar {
  // margin: 1rem 0;
  font-size: var(--fs-primary);

  &__list {
    list-style: none;
  }

  &__list-item {
  }

  &__link,
  &__link:visited {
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    cursor: pointer;

    text-decoration: none;
    color: inherit;

    &:hover {
    }

    &.active {
      background-color: var(--c-link-active);
    }
  }
}
