.app {
  min-height: 100vh;
  background-color: var(--midnight-express);

  display: grid;
  grid-template-rows: var(--h-header) min-content;
  grid-template-columns: 2vw [content-start] 1fr [content-end] 2vw;
  grid-gap: 2rem;
}

.header {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 15rem;
  align-content: center;
  align-items: center;
  justify-items: center;

  &__search {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  & .user-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.content {
  grid-column: content-start / content-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--w-movie), 1fr));
  justify-items: center;
  grid-gap: 3rem;
}

.navbar {
  grid-column: content-start / content-end;
}
