.header {
  height: var(--h-header);
  background-color: var(--black-russian);
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  font-size: var(--fs-header);
  padding: 10px;
}

.header__search {
  flex: 1;
  display: flex;
  margin: 0 2rem;
}

.header__input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  margin: 0 2rem;

  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
}

.header__icon {

}
